*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  background-color: hsl(234, 29%, 20%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.column-left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.heading {
  font-family: "Roboto-Bold";
  font-size: 2.8rem;
  color: hsl(235, 18%, 26%);
}

.column-right {
  width: 45%;
  height: 100%;
}

#hero-image {
  height: 100%;
}

/* Success Message Window */
.success-card {
  opacity: 0;
  position: absolute;
}

/* Footnote */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
