*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  background-color: hsl(235, 18%, 26%);
}

.container {
  display: none; /* Temporarily hide the main form */
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(234, 29%, 20%);
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.column-left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 2rem 2rem 1rem;
}

.heading {
  font-family: "Roboto-Bold";
  font-size: 2.8rem;
}

.subheading {
  font-size: 0.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.list-item {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.email-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  gap: 0.6rem;
}

.email-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.email-box > label {
  font-size: 0.8rem;
}

.input-box {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid hsl(235, 18%, 70%);
  border-radius: 0.4rem;
}

.input-box:hover {
  border-color: hsl(235, 18%, 50%);
  cursor: pointer;
}

.btn-signup {
  width: 100%;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-family: "Roboto-Bold";
}

.btn-signup:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}

/* Hero image and its section */
.column-right {
  width: 45%;
  height: 100%;
}

#hero-image {
  height: 100%;
}

/* Success Message Window */
.success-card {
  position: absolute;
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  padding: 2rem;
}

/* Footnote */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
